//only used for fallbacks
// $primary-background-color: #2E2E2E;
// $secondary-background-color: #242424;
// $primary-font-color: white;
// $secondary-font-color: #C9C9C9;
// $tertionary-font-color: #AEAEAE;
// $highlight-font-color: white;
// $text-shadow: 1.5px 1.5px 2px rgba(17, 17, 17, .25);
$primary-background-color: #ffffff;
$secondary-background-color: #EBEBEB;
$primary-font-color: black;
$secondary-font-color: #3b3b3b;
$tertionary-font-color: #424242;
$highlight-font-color: #222288;
$text-shadow: 1.5px 1.5px 1px rgba(0,0,0, .15);

//needss to be CSS vars to change them up at runtime
@mixin darkMode() {
    --primary-background-color: #2E2E2E;
    --secondary-background-color: #242424;
    --primary-font-color: white;
    --secondary-font-color: #C9C9C9;
    --tertionary-font-color: #AEAEAE;
    --highlight-font-color: white;
    --text-shadow: 1.5px 1.5px 2px rgba(17, 17, 17, .75);
}

@mixin lightMode() {
    --primary-background-color: #ffffff;
    --secondary-background-color: #EBEBEB;
    --primary-font-color: black;
    --secondary-font-color: #3b3b3b;
    --tertionary-font-color: #424242;
    --highlight-font-color: #222288;
    --text-shadow: 1.5px 1.5px 1px rgba(0,0,0, .15);
}

//defaults to dark theme
:root {
    @include lightMode();
}

//if user's system preference is light theme
@media (prefers-color-scheme: dark) {
    :root {
        @include darkMode();
    }
}

//if user wants to force light theme
:root[color="light"] {
    @include lightMode();
}

//if user wants ot force dark theme
:root[color="dark"] {
    @include darkMode();
}