@import "colors";

$nav-height: 3rem;

.Nav-bar {
    box-sizing: border-box;
    padding: .5rem;
    height: $nav-height;
    background-color: $secondary-backgound-color;
    position: fixed;
    width: 100vw;
    top:0;
    text-align: left;
    color: white;
    // line-height: $nav-height;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;

    .Song-input {
        position: absolute;
        right: .5rem;

        display: flex;
        align-items: center;
        border-radius:10px;
    }

    .Expand-icon div {
        height: .17em;
        width: 1em;
        background: white;
        transition: transform .15s cubic-bezier(.68,-0.55,.27,1.55);

        &, &::before, &::after {
            box-shadow: 1.5px 1.5px 3px black;
        }

        &::before, &::after {
            content: "";
            background-color: white;
            display: block;
            height: 100%;
            position: relative;
        }

        &::after {
            top: 100%;
        }

        &::before {
            bottom: 200%;
        }

        &.open {
            transform: rotate(90deg);
            &, &::before, &::after {
                box-shadow: 1.5px -1.5px 3px black;
            }
        }
    }

    .Expand-icon {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: .5em;
    }
}

.Table-of-contents {
    position: absolute;
    left: 0;
    top: 0;
    
    margin-top: $nav-height;
    height: calc(100vh - #{$nav-height});
    
    z-index: 0;
    
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100vw;
    padding: 0;
    background-color: rgba(0,0,0, .5);

    div {
        border-top: 2px solid rgba(0,0,0, .3);
        background-color: $secondary-backgound-color;
        margin-top: 0;
        overflow-y: scroll;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
        width: 100vw;
    }

    //the song (including song number)
    div > * {
        cursor: pointer;
        color: #ddd;
    }

    //the song number
    div p span {
        color: white;
        font-size: 2rem;
        text-shadow: 1.5px 1.5px 2px #111;
        font-weight: 900;
    }
}

@media (min-width: 600px) {
    .Table-of-contents {
        div {
            width: 20em;
        }
    }
}