@import "colors";

$max-song-width: 30rem;

.song {
    background-color: $primary-background-color;
    background-color: var(--primary-background-color);
    color: white;
    color: var(--primary-font-color);
    text-align: left;
    display: inline-block;

    h1 {
        margin: 0;
        text-shadow: 1.5px 1.5px 2px #111;
        text-shadow: var(--text-shadow);
        font-weight: 600;
    }

    h1 span {
        font-weight: 900;
    }
}

body {
    background-color: $primary-background-color;
    background-color: var(--primary-background-color);
}

.All-songs {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    

    &>* {
        padding: 3rem;
        width: 100%;
        display: block;
        text-align: left;
        box-sizing: border-box;
    }
}

.custom-scrollbar{
    scrollbar-color: $secondary-background-color $primary-background-color;
    scrollbar-color: var(--secondary-background-color) var(--primary-background-color);

    &::-webkit-scrollbar-tracktrack {
        background: $primary-background-color;
        background: var(--primary-background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-background-color;
        background-color: var(--secondary-background-color);
        border-radius: 50%;
    }
}

@media (min-width: 800px) {
    .All-songs {
        grid-template-columns: 1fr 1fr;

        &>* {
            max-width: $max-song-width;
            min-width: 0;
        }
    }
}